@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(105, 190, 77);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2px;

}

.box {
    height: 300px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;


    align-items: center;
    gap: 20px;

}

.box input {
    all: unset;
    height: 40px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 12px;



}



.box button {
    height: 40px;
    width: 300px;
    background-color: rgb(2, 193, 2);
    border: none;
    text-transform: uppercase;
    color: white;
    font-family: "Roboto", sans-serif;
}

.box button:hover {
    background-color: rgb(7, 109, 7);

}

p {
    background-color: white;
}

p a {
    background-color: white;
    text-decoration: none;
    color: rgb(105, 190, 77);
    letter-spacing: 1px;



}